doctype html
html
  head
    title Neeraj Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
                
                | HDA
            li #[a(href="/DanceHosting/home.pug") Home]
            li #[a(href="/DanceHosting/home.pug") About]
            li #[a(href="/DanceHosting/home.pug") Services]
            li #[a(href="/DanceHosting/home.pug") Class Info]
            li #[a(href="/DanceHosting/contact.pug") Contact Us]
    block content
    footer#footer
        | Copyright © 2019 HarryAcademy.com | All Rights Reserved
